<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ConnectionString" value="Data Source={0}\..\resource\"/>
  <add key="UpdateUrl" value="http://192.168.1.2/ClientUpdate/update.xml"/>
  <add key="WebServiceBaseUrl" value="http://192.168.1.2/ItemClickService.asmx"/>
  <add key="DBName" value="点车"/>
</appSettings>